<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <ul class="list-group">
        {{#each items}}
            <li class="list-group-item">{{name}} | {{baseprice}}</li>
        {{/each}}
    </ul>
</div>